<!-- views/layout.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Elon Musk</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <nav class="">
        <div class="">
          <a class="" href="/">Home</a>
          <a class="" href="/about">About</a>
          <a class="" href="/works">Works</a>
        </div>
    </nav>

    <main>
    {{{ body }}}
    </main>

  </body>
</html>
